[Unit]
Description=listening to the power button being pressed
After=multi-user.target

[Service]
Restart=on-failure
Type=simple
ExecStart=powerbtnd /dev/input/event1

[Install]
WantedBy=multi-user.target